<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Quiz</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheet/wide.css" media="only screen and (min-width: 530px) and (mind-device-width: 481px)">
		<link rel="stylesheet" type="text/css" href="/stylesheet/smartphone.css" media="only screen and (max-width: 480px)">
	</head>
<body>
	<h1>Esta es la secci&oacute;n del Autor</h1>
	<img width="320" height="305" src="/images/foto.jpg" alt="Autor"/>
	<iframe class="youtube-player" width="640" height="305" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/1w7OgIMMRc4?autoplay=1&rel=0" frameborder="0"></iframe>
	<p><b>Nombre del Autor: </b>Jer&oacute;nimo Segura Poveda</p>		
</body>
</html>