<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<center>    
    <p>El portal donde podr&aacute; crear sus propios juegos!!</p>
    <p><a href="/quizes/question">Comience a Jugar</a></p>
	</center>
  </body>
</html>
