<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Quiz</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheet/wide.css" media="only screen and (min-width: 530px) and (mind-device-width: 481px)">
		<link rel="stylesheet" type="text/css" href="/stylesheet/smartphone.css" media="only screen and (max-width: 480px)">
	</head>
<body>		
	<h4>
	<%= respuesta %>
	<br /><br />
	<a href="/quizes/question">Int&eacute;ntelo Otra Vez</a>
	</h4>	
</body>
</html>