<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Quiz</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet/style.css" />
	</head>
<body>
	<center>	
	<h4>
	<%= respuesta %>
	<br /><br />
	<a href="/quizes/question">Int&eacute;ntelo Otra Vez</a>
	</h4>
	</center>
</body>
</html>