<h2>LogIn</h2>
<br />

<form method="POST" action="/login">

	<div class="field">
		<label for="login">User:</label><br />
		<input type="text" id="login" name="login" size="30" />
	</div>

	<div class="field">
		<br />
		<label for="password">Password:</label><br />		
		<input type="password" id="password" name="password" size="30" />
	</div>

	<div class="actions">
		<br />
		<input type="submit" name="commit" value="LogIn" />
	</div>

</form>